!!!
html
	head
		title szbus
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
	body
		h1 
			a(href='/', id='title') SuZhou Bus
		!= body
	script(type='text/javascript', src='/javascripts/application.js')
